<a href="https://colab.research.google.com/github/chintagowthamreddy/fml/blob/main/multivarient_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,r2_score,mean_squared_error

Import all necessary libraries

In [2]:
data = pd.read_csv("Company-data.csv")
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

Read the required data file by using pandas libery

In [7]:
X = data.drop('Sales',axis=1).values
y = data['Sales'].values

'X'value stores input data,
'y'value stored label data

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

Split data into Training and Testing data

In [13]:
X_train.shape, X_test.shape

((150, 3), (50, 3))

Shape is used to known the size of rows and coloumns

In [11]:
reg = linear_model.LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

Train the data

In [12]:
y_pred1 = reg.predict(X_train)
print(f'Performance of the model on training data :\n')
print(f'MAE = {mean_absolute_error(y_train, y_pred1)}')
print(f'MSE = {mean_squared_error(y_train, y_pred1)}')
print(f'RMSE = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R_2 = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

MAE = 1.2867986998947178
MSE = 2.835248214412683
RMSE = 1.6838195314262996
R_2 = 0.895775985137604

Test the data and display the error between absolute value and predicated value